@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --stat1: hsl(110, 15%, 80%);
  --stat2: hsl(0, 30%, 75%);
  --stat3: hsl(40, 40%, 70%);
  --stat4: hsl(50, 50%, 80%);
  --stat5: hsl(040, 30%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a.freeroll-link {
  background: linear-gradient(0deg, darkred, darkred) no-repeat right bottom / 0
    var(--bg-h);
  transition: background-size 350ms, color 350ms;
  --bg-h: 100%;
  color: black;
  text-decoration: underline;
}
a.freeroll-link:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: white;
  text-decoration: none;
}

a.freeroll-link:active {
  color: darkred;
}

.stat1 {
  background: var(--stat1);
}
.stat2 {
  background: var(--stat2);
}
.stat3 {
  background: var(--stat3);
}
.stat4 {
  background: var(--stat4);
}
.stat5 {
  background: var(--stat5);
}
