@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a.freeroll-link {
  background: linear-gradient(0deg, darkred, darkred) no-repeat right bottom / 0
    var(--bg-h);
  transition: background-size 350ms, color 350ms;
  --bg-h: 100%;
  color: black;
  text-decoration: underline;
}
a.freeroll-link:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: white;
  text-decoration: none;
}

a.freeroll-link:active {
  color: darkred;
}
